.listView_s3 {
    width: 900px;
    height: 600px;
}

.listView_s3 .win-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    transition: transform 167ms linear, opacity 167ms linear;
}
.listView_s3 img {
    display: block;
}